<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.demo.springbootmybatis.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="org.demo.springbootmybatis.model.City">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="provinceId" column="province_id"/>
    </resultMap>
    <sql id="PUBLIC_COLUMN">
        ID, CODE, NAME, DESCRIPTION, PROVINCE_ID
    </sql>

    <select id="selectAllCity" resultMap="BaseResultMap">
        SELECT <include refid="PUBLIC_COLUMN"/>
        FROM city
    </select>
</mapper>