<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.demo.springbootmybatis.mapper.ProvinceMapper">
    <resultMap id="BaseResultMap" type="org.demo.springbootmybatis.model.Province">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="countryId" column="country_id"/>
    </resultMap>

    <select id="selectAllProvince" resultMap="BaseResultMap">
        SELECT * FROM province
    </select>
</mapper>